# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised
-Jupyter Nootbook
-Python and R language introduction
-Introduction to Jupyter nootbook environment

Objectives:
1.Jupyter Notebook
2.JupyterLab
3.Use cases of Markdown
4.Jupyter kernel

List popular languages for Data Science:
-Python
-R
-SQL
-Julia
Libraries for Data Science
*Pandas
*Numpy
*Matplotlib
*Seaborn
Roles in Data Science
-Data Analyst
-Data Engineer
-Data Scientist

#Some of the popular languages that Data Scientists use are:
1.Python
2.R language
3.SQL
4.Julia
5.Java

#Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Numpy
3.Matplotlib
4.Seaborn
5.Tensorflow

|Data Science Tools|
|------------------|
|Tensorflow|
|Apache Spark|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python.
print(10+20)
(a+b)
(a-b)
(a*b)
(a/b)

In [19]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
min = 200
print("Hours: ",int(min/60),":",min%60)

Hours:  3 : 20

In [ ]:
## Author
Sabhavath Yashwanth